:root{

    --black:#040D12;
    --olive:#183D3D;
    --light:#5C8374;
    --brown:hsl(32, 80%, 17%);
    
}

body{
    
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf7i9b3fFYFAWnyPhSsxgixBByeXjl5gLM_A&usqp=CAU");
    height: 100vh;

}
header h2{
   
    font-weight: bolder;
    color: var(--light);
    font-size:xx-large;
}
header i{
    padding: .3em;
}
.landing nav{
    text-decoration: none;
}
.landing nav a{
    text-decoration: none;
    color: var(--brown);
    
}
nav 
{
    padding: 5px;
    margin-inline-start:87%;

}
:hover{
    color:rgba(0, 0, 0, 0.485);
    text-decoration: none;
} 
header a{
    text-decoration: none;
}

.title{
    padding-left: 300px;
    font-weight: bolder;
    font-size: xx-large ;
    color: rgba(116, 64, 4, 0.559);
    line-height: 60px;
    
}
.menu{
    display: grid;
    grid-template-columns: auto;
    background:linear-gradient(to left,rgb rgb(59, 58, 58),rgb rgb(27, 26, 26));
    color: var(--light); 
    padding-left: 100px; 
   
}
.menu tr{
    color:var(--olive);
   font-size: 1.3em;
}
table{
    width:60%;
    padding:.5em;
 }
 .menu tr{
    display:flex;
    justify-content: center;
    
 }
 
 .menu td:nth-child(1){
    flex:1;
    justify-self: left;
 }
 
 
 .menu td:nth-child(2){
    justify-self: right;
 }
 
 .maincourse{
    grid-row:span 2;
 }
